@import "../utils/vars"
@import "../utils/mixins"

.s__main
  width: 100%
  height: 100vh
  background-image: url("../assets/img/Surfing.png")
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.s__main__border_shadow
  box-shadow: inset 0 -150px 150px -30px $white

.test
  width: 100px
  height: 100px
  font-family: "Playfair Display", sans-serif
  font-style: italic
  font-weight: bold
  background-color: aquamarine

.test__img
  width: 100px

.my_bg_img
  background-image: url("../assets/img/photo.png")
  width: 100px
  height: 100px

.box
  width: 400px
  height: 400px
  padding: 50px
  border: 1px solid $mainGrey

.my-btn
  @include button-default($lightBlue)
